<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>CodeBound Staff & Students</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <table border="1">
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Department</th>
                  <th>phone</th>
                </tr>
            
                <tr *ngFor="let item of staff">
                  <td>{{item.id}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.email}}</td>
                  <td>{{item.department}}</td>
                  <td>{{item.phone}}</td>
                </tr>
              </table>
        </div>
        <div class="col-6">
            <table border="1">
                <tr>
                  <th>ID</th>
                  <th>Student Number</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Grade</th>
                </tr>
            
                <tr *ngFor="let item of students">
                  <td>{{item.id}}</td>
                  <td>{{item.studentNum}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.email}}</td>
                  <td>{{item.grade}}</td>
                </tr>
              </table>
        </div>
    </div>
</div>